/*body { padding-top: 70px; }*/

/*@media screen and (max-width: 768px) {*/
    /*body { padding-top: 110px; }*/
/*}*/

.span3.ng-valid.ng-dirty{border:solid green 1px;}
.span3.ng-invalid.ng-dirty{border:solid red 1px;}


#myModal .modal-dialog
{    width: 250px;/* your width */
}
#myModalRegister .modal-dialog
{    width: 250px;/* your width */
}

#myModalAddGroup .modal-dialog
{    width: 200px;/* your width */
}

#myModalDeleteGroup .modal-dialog
{    width: 200px;/* your width */
}

.white {
    color: #fff;
}

.red3 {
    color: #FF0000;
}
.red2 {
    color: #FF9900;
}
.red1 {
    color: #FFFF33;
}

.dotted {
    border-top: 1px dotted rgb(204, 204, 204);
    border-bottom: 1px dotted rgb(204, 204, 204);
}

.tight_select{
    padding-left: 5px;
    padding-right: 5px;
}
.tight_input{
    padding-left: 2px;
    padding-right: 2px;
}

.form-control + .glyphicon {
    position: absolute;
    right: 0;
    padding: 8px 27px;
}

.navbar-inverse .navbar-brand{
    font-size: 28px;
    color: #0b89f4;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}

.border-it {
    border: 1px solid #ccc;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

.navbar-brand img {
    margin-bottom: -15px;
    margin-top: -15px;
    margin-right: 5px;
}

.navbar {
    background-color: rgb(45, 178, 234);
}

.fullHeight{
    height: 100%;
}

/* Start Code to Push Footer to Bottom of Page*/
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -2em;
}
.footer, .push {
    height: 2em;
}
/* End Code to Push Footer to Bottom of Page*/

/* http://brajeshwar.github.io/entities/ this site shows all the characters and the codes */
/*e101 is the exclamation sign... must match the glyphicon that is being used in the app so the spacing is the same */
.glyphicon-none:before {
    content: "\e101";
    color: transparent !important;
}

.navbar .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #ffffff;
    color: black;
    font-weight:700;
}
.navbar a {
    color:white;
}

#groupAdmin .panel-default {
    min-height: 250px;
}
