<section    id="groupAdmin">

    <br>

    <div class="container-fluid">

        <div id="myDiv" class="col-lg-4 col-lg-offset-2 col-md-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Account Details</h3></div>
                <div class="panel-body">
                <!--AcctdetailCtrl is defined in app.js so not needed here-->
                <!--<div id="myDiv" ng-controller="AcctdetailCtrl" class="col-md-6">-->

                    <div class="col-md-6">Membership Type:</div>
                    <div class="col-md-3">Begin Date</div>
                    <div class="col-md-3">End Date</div>

                    <div data-ng-repeat="accountPeriod in accountPeriods">
                        <div class="col-md-6">{{accountPeriod.description}}</div>
                        <div class="col-md-3">{{accountPeriod.begin_dt}}</div>
                        <div class="col-md-3">{{accountPeriod.end_dt}}</div>
                    </div>

                    <button id="customButton" class="btn btn-success">Purchase 12 Months of Premium $10</button>

                    <!-- Begin DigiCert site seal HTML and JavaScript -->
                    <div class="pull-right" id="DigiCertClickID_tPwpUf7S" data-language="en_US">
                        <a href="https://www.digicert.com/ev-ssl-certification.htm"></a>
                    </div>
                    <script type="text/javascript">
                        var __dcid = __dcid || [];__dcid.push(["DigiCertClickID_tPwpUf7S", "13", "m", "black", "tPwpUf7S"]);(function(){var cid=document.createElement("script");cid.async=true;cid.src="//seal.digicert.com/seals/cascade/seal.min.js";var s = document.getElementsByTagName("script");var ls = s[(s.length - 1)];ls.parentNode.insertBefore(cid, ls.nextSibling);}());
                    </script>
                    <!-- End DigiCert site seal HTML and JavaScript -->

                    <script>
                            var handler = StripeCheckout.configure({
                                key: 'pk_live_6SDaxbWa2pc332HnnAToN8bN',
                                image: 'images/Giant1.png',
                                token: function (token) {
                                    // Use the token to create the charge with a server-side script.
                                    // You can access the token ID with `token.id`

                                    //var microappscope = angular.element($("#myDiv")).scope();
                                    //microappscope.stripepurchase(token);
                                    // must specify DOM element that hold controller in order to access scope and method/function
                                    angular.element($("#myDiv")).scope().processPayment(token);
                                }
                            });

                            document.getElementById('customButton').addEventListener('click', function (e) {
                                // Open Checkout with further options
                                handler.open({
                                    name: 'To Do Giant',
                                    description: '12 Months: Premium Membership',
                                    amount: 1000,
                                    email: angular.element($("#myDiv")).scope().email
                                });
                                e.preventDefault();
                            });
                        </script>

                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Password Change</h3></div>
                <div class="panel-body">
                    <form role="form">
                        <input type="text" class="form-control input-sm" data-ng-model="pwd.old"
                               placeholder="enter current password">
                        <input type="text" class="form-control input-sm" data-ng-model="pwd.new1" placeholder="enter new password">
                        <input type="text" class="form-control input-sm" data-ng-model="pwd.new2"
                               placeholder="re-enter new password">
                        <button type="submit" class="btn btn-success" id="ChangePasswordBttn" data-ng-click="changePassword(pwd)">Change Password</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!--end of container-->
    <div class="container">

        <div class="section-header">
            <h1>pricing</h1>
            <div class="divider-light"></div>
            There is free version and a pro version. The pro version is $10 a year, which allows us to cover some of the hosting charges.
                Imagine all this for a whole year for the price of a cup of Starbucks.
                Unlock our best features for pennies a day!  Sign-up now and get a free trial of our Pro package.
        </div>

        <div class="row">

            <div class="col-md-6 col-sm-6">
                <div class="price-box ">
                    <div class="price-header">
                        <span class="price-title">Free</span>
                        <span class="price-amount">$0</span>
                        <span class="price-month">/ Year</span>
                    </div>
                    <div class="price-content">
                        <ul>
                            <li>1 group</li>
                            <li>15 Active To Dos</li>
                        </ul>
                    </div>
                    <div class="price-footer">
                        <div class="row">
                            <div class="col-xs-4 col-xs-offset-4">
                                <!--<a class="btn btn-lg  btn-block btn-success"  a href="#register">Sign Up</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="col-md-4 col-sm-4">-->
            <!--<div class="price-box active  ">-->
            <!--<div class="price-header">-->
            <!--<span class="price-title">basic</span>-->
            <!--<span class="price-amount">$ 10</span>-->
            <!--<span class="price-month">/ Year</span>-->
            <!--</div>-->
            <!--<div class="price-content">-->
            <!--<ul>-->
            <!--<li>3 Groups</li>-->
            <!--<li>50 Active To Dos in each group</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--<div class="price-footer">-->
            <!--<a href="#register" class="btn-theme">sign up</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <div class="col-md-6 col-sm-6">
                <div class="price-box   active  wow fadeInUp showdelay2">
                    <div class="price-header">
                        <span class="price-title">Pro</span>
                        <span class="price-amount">$10</span>
                        <span class="price-month">/ Year</span>
                    </div>
                    <div class="price-content">
                        <ul>
                            <li>5 Groups</li>
                            <li>75 Active To Dos in each group</li>
                        </ul>
                    </div>
                    <div class="price-footer">
                        <div class="row">
                            <div class="col-xs-4 col-xs-offset-4">
                                <!--<a class="btn btn-lg  btn-block btn-success"  a href="#register">Sign Up</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>



</section>

<!-- pricing -->


