<div class="row">
    <div class="col-md-6">
        <h4>Password Change</h4>

        <form role="form">
            <input type="text" class="form-control input-sm" data-ng-model="pwd.old"
                   placeholder="enter current password">
            <input type="text" class="form-control input-sm" data-ng-model="pwd.new1" placeholder="enter new password">
            <input type="text" class="form-control input-sm" data-ng-model="pwd.new2"
                   placeholder="re-enter new password">
            <button type="submit" class="btn btn-success" data-ng-click="changePassword(pwd)">Change Password</button>
        </form>
    </div>
    <!--AcctdetailCtrl is defined in app.js so not needed here-->
    <!--<div id="myDiv" ng-controller="AcctdetailCtrl" class="col-md-6">-->
    <div id="myDiv" class="col-md-6">
        <h4>Account Details</h4>

        <div class="col-md-6">Membership Type:</div>
        <div class="col-md-3">Begin Date</div>
        <div class="col-md-3">End Date</div>

        <div data-ng-repeat="accountPeriod in accountPeriods">
            <div class="col-md-6">{{accountPeriod.description}}</div>
            <div class="col-md-3">{{accountPeriod.begin_dt}}</div>
            <div class="col-md-3">{{accountPeriod.end_dt}}</div>
        </div>

        <button id="customButton" class="btn btn-success">Purchase 12 Months of Premium $10</button>

        <script>
            var handler = StripeCheckout.configure({
                key: 'pk_live_6SDaxbWa2pc332HnnAToN8bN',
                image: 'images/Giant1.png',
                token: function (token) {
                    // Use the token to create the charge with a server-side script.
                    // You can access the token ID with `token.id`

                    //var microappscope = angular.element($("#myDiv")).scope();
                    //microappscope.stripepurchase(token);
                    // must specify DOM element that hold controller in order to access scope and method/function
                    angular.element($("#myDiv")).scope().processPayment(token);
                }
            });

            document.getElementById('customButton').addEventListener('click', function (e) {
                // Open Checkout with further options
                handler.open({
                    name: 'TodoGiant',
                    description: '12 Months: Premium Membership',
                    amount: 1000,
                    email: angular.element($("#myDiv")).scope().email
                });
                e.preventDefault();
            });
        </script>
    </div>
</div>

