<section    id="contactUs">

    <br>

    <div class="container-fluid">

        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Contact Us</h3></div>
                <div class="panel-body">
                    <h3 class="text-center">We can't wait to hear from you! :-)</h3>
                    <form name="contactForm" data-ng-submit="contactSubmit(contact)">

                        <div class="col-md-6 col-xs-6 col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" data-ng-model="contact.firstName" value="" required placeholder="Enter First Name">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6 col-sm-6">
                            <input type="text" class="form-control" data-ng-model="contact.lastName" value="" required placeholder="Enter Last Name">
                        </div>

                        <br><br>
                       <div class="col-md-12">
                           <select name="subjectCD" class="form-control"
                                   ng-model="contact.contactType"
                                   ng-options="contactType.name for contactType in contactTypes" required>
                                   <option value="">-- chose Subject --</option>
                           </select>
                        </div>
                        <br>

                        <div class="col-md-12">Message</div>
                        <textarea name="message" id="message" required  class="col-md-12 form-control" ng-model="contact.message"  rows="6"></textarea>
                        <button type="submit" class="btn btn-primary pull-left" >Send</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>