<section    id="login">

    <br>

    <div class="container-fluid">

        <h2 class="text-center">Below is a Screen Shot of the site</h2>
        <h3 class="text-center">Click the button below to access the actual demo area</h3>

        <form data-ng-submit="logIn(user)" form-autofill-fix>

            <input class="hidden" name="email" data-ng-model="user.email"  >
            <input class="hidden" name="password" data-ng-model="user.password" >

            <div class="text-center">
                <p><button type="submit" class="btn btn-lg btn-success">Access It!</button>
            </div>
        </form>

        <br>
        <div class="col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-xs-12">
            <div class="text-center">
                <img src="images/to_do_list_online_demo.png" class="img-responsive" alt="">
            </div>
        </div>

    </div>

    <br><br>
</section>

