<section    id="faq">
    <br>

    <div class="container-fluid">

        <div class="col-md-10 col-md-offset-1 col-xs-12">

            <div class="panel panel-default">
                <div class="panel-heading">FAQ - Frequently Asked Questions</div>
                <div class="panel-body" >

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">Is this secure?</h1>
                        </div>
                        <div class="panel-body">
                            Yes, we take security VERY seriously so your online to do list is always protected.
                            First, HTTPS is used to for all communication between the browser and our servers.
                            HTTPS stands for "Hypertext Transfer Protocol Secure" (quite a mouthful) means that all the data is encrypted/scrambled so no one can see your information.
                            In addition, your information is password protected so no one else can access your information.
                            We use  <a href="https://stripe.com">Stripe</a> for payment processing which is the industry leading solution. With Stripe, none of your credit card information is ever sent to us.
                            Stripe receives your payment information and then provides us with a token showing that you've paid.
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">When do completed items disappear?</h1>
                        </div>
                        <div class="panel-body">
                            Completed items show in your online to do list for 5 days and then they are hidden.
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">How are reoccurring to dos handled? What is Frequency?</h1>
                        </div>
                        <div class="panel-body">
                            Reoccurring to dos is a powerful feature in your online to do list.
                            When a reoccurring to do is completed a new to do is automatically created with the correct due date.
                            For example, if you have a to do "pay the cable bill" with a Frequency of Monthly, when you complete the item on October 2nd,
                            a new to do is automatically created for November 2nd.
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">I have an idea for a new feature. Can I make a request?</h1>
                        </div>
                        <div class="panel-body">
                            Absolutely!
                            We would love to hear your suggestions, in fact, some of our best features were the result of user suggestions.
                            Submit your idea through the "Contact Us" page.
                            Thanks in advance!
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">Is it possible to add Priority and/or Due Date during the quick add?</h1>
                        </div>
                        <div class="panel-body">
                            Yes. You can include Priority, Category, Due Date and Frequency when adding a to do.
                            Just separate each field with the "|" field
                            For example:  "Pay Cable Company|10/15/2014|2|Bills" will add a to do named "Pay Cable Company" with a Due Date of "10/15/2014", a priority of "2" and a category/tag of "Bills"
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">Does ToDoGiant support tags?</h1>
                        </div>
                        <div class="panel-body">
                            Definitely.  Each to do can one or more tags (also known as categories) associated with it.
                            You can use as many tags as you like. There are no restrictions.
                            There is a tag/category search that allows you to quickly identify all the to dos with the corresponding tag.
                            You could tag a number of items with "HardwareStore" and then if you happen to be near a Home Depot... it's easy to see all the items you need to buy.
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">What are groups? How are they used?</h1>
                        </div>
                        <div class="panel-body">
                            Groups are another way of organizing your online to do lists.
                            Most of us have created HOME and WORK groups.
                            This allows separate lists of to dos so you can focus on what you want, when you want.
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">I have an existing list of to dos, can I get them into ToDoGiant?</h1>
                        </div>
                        <div class="panel-body">
                            Yes.  We support the upload/import of existing to do lists.
                            Simply save your existing items into a comma separated value (CSV) file and then upload them to ToDoGiant.com
                            The easiest way to do this is to get the data into excel (or the equivalent) and then "SaveAs a csv file".
                            We have template to use and a dedicated import page.
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">Are you hiring?</h1>
                        </div>
                        <div class="panel-body">
                            We're fully staffed right now; but we're always looking for talented folks.
                            If you're interested, send us your resume  jobs@todogiant.com
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">How do priorities and due dates impact the order of my to dos?</h1>
                        </div>
                        <div class="panel-body">
                            We've done a lot of research and decided that priority and due date should drive the order of the to do list.
                            Priority is more important and is used to establish the order.
                            If there is a tie in priorities, then due date will be used to decide which appears first.
                            Priority is treated as the most important to focus energies on the items that are the most important to you.
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">How much will it cost?</h1>
                        </div>
                        <div class="panel-body">
                            There is free version and a pro version.
                            The pro version is $10 a year, which allows us to cover some of the hosting charges.
                            Imagine all this for a whole year for the price of a cup of Starbucks.
                            Unlock our best features for pennies a day! Sign-up now and get a free trial of our Pro package.
                        </div>
                    </div>

                </div>
            </div>

    </div>


</section>

