<h1 class="text-center">Forgot your password?</h1>
<div class="text-center">
    Enter your email address and we'll send you a temporary password. </br>
</div>

<div class="container col-md-4 col-md-offset-4">

    <form data-ng-submit="forgotPassword(user)" form-autofill-fix>
        <p>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon-envelope"></i></span>
                <input type="email" class="span3 form-control" name="email" data-ng-model="user.email" required placeholder="Enter Email">
            </div>
            <span class="error" data-ng-show="loginForm.email.$error.required">Required</span>
            <span class="error" data-ng-show="loginForm.email.$error.email">Not valid email</span>
        </p>

        <p><button type="submit" class="btn btn-success" data-ng-submit="JUNK-DELETE-THIS(user)">Send Temporary Password</button>
    </form>

</div>
