<section    id="groupAdmin">

    <br>

    <div class="container-fluid">

        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Add a To Do Group</h3></div>
                <div class="panel-body">
                    <div class="col-md-10 col-md-offset-1">
                        <form role="form">
                        <input type="text" class="form-control" data-ng-model="newGroup.name" placeholder="enter group name here">
                        <button class="btn btn-primary" data-ng-click="addGroup(newGroup)">Add Group</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Delete To Do Group </h3></div>
                <div class="panel-body">
                    <div class="col-md-10 col-md-offset-1">
                            <form role="form">
                                <select class="form-control" data-ng-model="group.group_id" data-ng-options="group.group_id as group.group_name for group in groups">
                                </select>
                                <button  class="btn btn-primary" id="DeleteGroupBttn" data-ng-click="deleteGroup(group)">Delete Group</button>
                            </form>
                            <i class="fa fa-warning fa-2x" style="margin-top:5px;color:red"></i> All the To Dos (active or complete) under this group will be deleted!
                            Use "Move To Dos Between Groups" (below) before deleting any groups! </p>
                    </div>
                </div>
            </div>
        </div>

        <br><br>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Move To Dos Between Groups</h3></div>
                <div class="panel-body">
                    <div class="col-md-10 col-md-offset-1">
                        <form role="form">
                            <div class="col-md-5">Move To Dos from this group:</div>
                            <div class="col-md-7">
                                <select class="form-control" data-ng-model="moveGroup.fromGroup" data-ng-options="group.group_id as group.group_name for group in groups">
                                </select>
                            </div>
                            <div class="col-md-5">To this group:</div>
                            <div class="col-md-7">
                                <select class="form-control" data-ng-model="moveGroup.toGroup" data-ng-options="group.group_id as group.group_name for group in groups">
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary" data-ng-click="moveTodos(moveGroup)">Move the To Dos</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Update To Do Group Names</h3></div>
                <div class="panel-body">
                    <div class="col-md-10 col-md-offset-1">
                        <div data-ng-repeat="group in groups">
                            <input type="text" class="form-control input" data-ng-model="group.group_name" data-ng-enter="updateGroup(group)">
                        </div>
                        (hit enter after changing)
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Close the Container-->
</section>