<div ng-controller='FileUploadCtrl'>

    <div class="control-group">
        <div class="controls">
        <span class="btn btn-success fileinput-button">
            <i class="icon-plus icon-white"></i>
            <input type="file" name="file" data-url="upload.php"
                   multiple upload><span>Add files...</span>
        </span>
        </div>
    </div>
    <div>
        <span ng-show="!files.length">No files selected</span>
        <ul>
            <li ng-repeat="file in files">{{file}}</li>
        </ul>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary pull-left" ng-click="upload()">Upload</button>
    </div>
    <div class="progress" ng-show="percentage">
        <div class="bar" style="width: {{percentage}}%;"></div>
    </div>
</div>

<br><br><br>

<h2>Previous Uploads</h2>

<div class="row">
    <div class="col-md-4 small">File Name</div>
    <div class="col-md-2 small">Upload Date and Time</div>
    <div class="col-md-2 small">Todos Imported</div>
    <div class="col-md-2 small">Errors TodoGroup Not Found</div>
    <div class="col-md-2 small">Skipped Exceeded Limit</div>
</div>

<div ng-controller='BatchesCtrl'>

    <div data-ng-repeat="batch in batches">
        <div class="row">
            <div class="col-md-4">
                {{batch.file_name}}
            </div>
            <div class="col-md-2">
                {{batch.upload_dt}}
            </div>
            <div class="col-md-2">
                {{batch.count_uploaded}}
            </div>
            <div class="col-md-2">
                {{batch.count_error_no_group}}
            </div>
            <div class="col-md-2">
                {{batch.count_error_above_limit}}
            </div>
        </div>
    </div>

</div>