<div ng-controller='FileUploadCtrl'>

    <div class="control-group">
        <div class="controls">
        <span class="btn btn-success fileinput-button">
            <i class="icon-plus icon-white"></i>
            <input type="file" name="file" data-url="upload.php"
                   multiple upload><span>Add files...</span>
        </span>
        </div>
    </div>
    <div>
        <span ng-show="!files.length">No files selected</span>
        <ul>
            <li ng-repeat="file in files">{{file}}</li>
        </ul>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary pull-left" ng-click="upload()">Upload</button>
    </div>
    <div class="progress" ng-show="percentage">
        <div class="bar" style="width: {{percentage}}%;"></div>
    </div>
</div>

<br><br><br>

<h2>Previous Uploads</h2>

<div class="row">
    <div class="col-md-3 small text-center">File Name</div>
    <div class="col-md-2 small text-center">Upload Date and Time</div>
    <div class="col-md-2 small text-center">Todos Imported</div>
    <div class="col-md-2 small text-center">Skipped, Todo Group Not Found</div>
    <div class="col-md-2 small text-center">Skipped, Exceeded Limit</div>
    <div class="col-md-1 small text-center">Delete Batch and Todos</div>
</div>

<div ng-controller='BatchesCtrl'>

    <div data-ng-repeat="batch in batches">
        <div class="row">
            <div class="col-md-3">
                {{batch.file_name}}
            </div>
            <div class="col-md-2 text-center">
                {{batch.upload_dt}}
            </div>
            <div class="col-md-2  text-center">
                {{batch.count_uploaded}}
            </div>
            <div class="col-md-2  text-center">
                {{batch.count_error_no_group}}
            </div>
            <div class="col-md-2  text-center" >
                {{batch.count_error_above_limit}}
            </div>
            <div class="col-md-1">
                <button  class="btn btn-danger btn-group-sm" data-ng-click="deleteBatch(batch)">Delete!</button>
            </div>
        </div>
    </div>

</div>