<div ng-controller='FileUploadCtrl'>

    <div class="control-group">
        <div class="controls">
        <span class="btn btn-success fileinput-button">
            <i class="icon-plus icon-white"></i>
            <input type="file" name="file" data-url="upload.php"
                   multiple upload><span>Add files...</span>
        </span>
        </div>
    </div>
    <div>
        <span ng-show="!files.length">No files selected</span>
        <ul>
            <li ng-repeat="file in files">{{file}}</li>
        </ul>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary pull-left" ng-click="upload()">Upload</button>
    </div>
    <div class="progress" ng-show="percentage">
        <div class="bar" style="width: {{percentage}}%;"></div>
    </div>
</div>
