<!-- intro -->
<section    id="intro">

    <ul class="list-inline">
        <li><a ng-click="scrollTo('services')">How We Help</a></li> |
        <li><a ng-click="scrollTo('testimonials')">Testimonials</a></li> |
        <li><a ng-click="scrollTo('about')">About Us</a></li> |
        <li><a ng-click="scrollTo('pricing')">Pricing</a></li>
    </ul>

    <!-- Carousel -->
    <div id="home-slider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#home-slider" data-slide-to="0" class="active"></li>
            <li data-target="#home-slider" data-slide-to="1"></li>
        </ol>

        <div class="carousel-inner main-slider main-color">
            <!-- Slide #1 -->
            <div class="item active" id="carousel-page-1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 class="first-child animated slideInDown delay-2">Why To Do Giant?</h1>
                            <p class="animated slideInLeft delay-4">
                                A To Do list is one of the simplest steps you can take to becoming more organized and productive. It focuses you on the key tasks that you need to accomplish and keeps track of when they're due
                            </p>
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-1">
                                    <a class="btn btn-lg  btn-success btn-block animated fadeInUpBig delay-5"  a href="#register">Sign Up</a>
                                </div>
                                <div class="col-xs-4 col-xs-offset-1">
                                    <a class="btn btn-lg  btn-success btn-block  animated fadeInUpBig delay-5"  a href="#demouser">Demo Site</a>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-6 hidden-xs">
                            <!--<img src="images/slider-1.png" class="img-responsive animated fadeInLeft delay-1" alt="">-->
                            <img src="images/screenshot_macair.png" class="img-responsive animated fadeInLeft delay-1" alt="">
                        </div>
                    </div> <!-- / .row -->
                </div> <!-- / .container -->
            </div> <!-- / .item -->
            <!-- Slide #2 -->
            <div class="item" id="carousel-page-2">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 class="first-child animated slideInUp delay-2">Access it anywhere!</h1>
                            <p class="animated slideInUp delay-4">
                                This means you can access your To Do list via any device or computer. iPhone, iPad, Droid Phones, Tablets, Computers, Laptops, you name it and you can access your list. So, whether you're in a meeting, sitting on the bus, working outside, it's always possible to add a To Do or get the next one on the list.
                            </p>
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-1">
                                    <a class="btn btn-lg  btn-success btn-block animated fadeInUpBig delay-5"  a href="#register">Sign Up</a>
                                </div>
                                <div class="col-xs-4 col-xs-offset-1">
                                    <a class="btn btn-lg  btn-success btn-block  animated fadeInUpBig delay-5"  a href="#demouser">Demo Site</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 hidden-xs col-sm-offset-2">

                            <!--<img src="images/slider-2.png" class="img-responsive animated fadeInRight delay-2" alt="">-->
                            <img src="images/screenshot_iphone.png" class="img-responsive animated fadeInRight delay-2" alt="">

                        </div>
                    </div> <!-- / .row -->
                </div> <!-- / .container -->
            </div> <!-- / .item -->

        </div> <!-- / .carousel -->

    </div>

<!--Removed Scroll Down Button in favor of links -->
    <!--<div>-->
        <!--<a ng-click="scrollTo('services')" class="btn btn-square">-->
        <!--&lt;!&ndash;<a href="#services" class="btn btn-square">&ndash;&gt;-->
            <!--<i class="fa fa-angle-down"></i>-->
        <!--</a>-->
    <!--</div>-->


</section>
<!-- ./intro -->



<!-- services -->
<section id="services" class="section">
    <div class="container">

        <div class="section-header">
            <h1>How We Help</h1>
            <div class="divider-dark"></div>
            <p>Creating a To Do List will instantly make you feel more in control and eliminate that feeling of being overwhelmed. Plus, it'll allow you to focus on the important stuff!
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="icon-box-primary wow fadeInUp showdelay2">
                    <div class="icon-box-icon">
                        <i class="fa fa-mobile  fa-4x"></i>
                    </div>
                    <div class="icon-box-info">
                        <h2>Access Anywhere</h2>
                        <!--<p>Computers, Laptops, Tablets, Fablets & Phones... To Do Giant works on all of them! It automatically hides non-critical information on smaller devices so you don't have to zoom in and out. Fabulous!</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="icon-box-primary wow fadeInUp showdelay2">
                    <div class="icon-box-icon">
                        <i class="fa fa-cogs  fa-4x"></i>
                    </div>
                    <div class="icon-box-info">
                        <h2>Easy To Customize</h2>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="icon-box-primary wow fadeInUp showdelay2">
                    <div class="icon-box-icon">
                        <i class="fa fa-shield  fa-4x"></i>
                    </div>
                    <div class="icon-box-info">
                        <h2>Trusted</h2>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="icon-box-primary wow fadeInUp showdelay2">
                    <div class="icon-box-icon">
                        <i class="fa fa-search  fa-4x"></i>
                    </div>
                    <div class="icon-box-info">
                        <h2>Powerful Search</h2>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="icon-box-primary wow fadeInUp showdelay2">
                    <div class="icon-box-icon">
                        <i class="fa fa-smile-o  fa-4x"></i>
                    </div>
                    <div class="icon-box-info">
                        <h2>We're Fun</h2>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="icon-box-primary wow fadeInUp showdelay2">
                    <div class="icon-box-icon">
                        <i class="fa fa-rocket  fa-4x"></i>
                    </div>
                    <div class="icon-box-info">
                        <h2>Increase Productivity</h2>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="icon-box-primary wow fadeInUp showdelay2">
                    <div class="icon-box-icon">
                        <i class="fa fa-lock  fa-4x"></i>
                    </div>
                    <div class="icon-box-info">
                        <h2>Secure, Private</h2>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="icon-box-primary wow fadeInUp showdelay2">
                    <div class="icon-box-icon">
                        <i class="fa fa-laptop  fa-4x"></i>
                    </div>
                    <div class="icon-box-info">
                        <h2>Beautiful Design</h2>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="icon-box-primary wow fadeInUp showdelay2">
                    <div class="icon-box-icon">
                        <i class="fa fa-star  fa-4x"></i>
                    </div>
                    <div class="icon-box-info">
                        <h2>Prioritize</h2>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="icon-box-primary wow fadeInUp showdelay2">
                    <div class="icon-box-icon">
                        <i class="fa fa-calendar  fa-4x"></i>
                    </div>
                    <div class="icon-box-info">
                        <h2>Track Due Dates</h2>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="icon-box-primary wow fadeInUp showdelay2">
                    <div class="icon-box-icon">
                        <i class="fa fa-edit  fa-4x"></i>
                    </div>
                    <div class="icon-box-info">
                        <h2>Quick Input</h2>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="icon-box-primary wow fadeInUp showdelay2">
                    <div class="icon-box-icon">
                        <i class="fa fa-bookmark fa-4x"></i>
                    </div>
                    <div class="icon-box-info">
                        <h2>Groups</h2>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="icon-box-primary wow fadeInUp showdelay2">
                    <div class="icon-box-icon">
                        <i class="fa fa-clock-o  fa-4x"></i>
                    </div>
                    <div class="icon-box-info">
                        <h2>Inline Updates</h2>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="icon-box-primary wow fadeInUp showdelay2">
                    <div class="icon-box-icon">
                        <i class="fa fa-wrench  fa-4x"></i>
                    </div>
                    <div class="icon-box-info">
                        <h2>Tons of Customization</h2>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="icon-box-primary wow fadeInUp showdelay2">
                    <div class="icon-box-icon">
                        <i class="fa fa-bolt  fa-4x"></i>
                    </div>
                    <div class="icon-box-info">
                        <h2>Quick Edit</h2>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque.</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <br>
        <div class="text-center">
            <h2> We could go on... but seeing is believing: </h2>  <br>
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-2">
            <a href="#register" class="btn btn-lg btn-block btn-success">Sign Up</a>
        </div>
        <div class="col-xs-2">
            <a href="#demouser" class="btn btn-lg btn-block btn-success">Demo Site</a>
        </div>
    </div>

</section>
<!-- ./services -->

<!-- testimonials -->
<section id="testimonials" class="section dark-bg">
    <div class="section-header">
        <h1>Feedback</h1>
        <div class="divider-light"></div>
    </div>

    <div class="container">
        <div id="testimonial-list" class="owl-carousel  wow fadeInUp showdelay2">
        <!--<div id="testimonial-list" class="owl-carousel">-->
            <div class="item">
                <p>Thanks to your site, I am more organized, more focused and getting more and more done every day. Thanks!</p>
            </div>
            <div class="item">
                <p>You've changed the way I approach work. Focusing on the priorities has made a huge difference!</p>
            </div>
            <div class="item">
                <p>My boss just complimented me (first time ever) on how organized I've become. All thanks to you!</p>
            </div>
            <div class="item">
                <p>Well done To Do Giant! You've made a big difference in my life. I'm feeling more at ease and less overwhelmed. Thanks!</p>
            </div>
            <div class="item">
                <p>You are the best! Thanks so much for creating this site!</p>
            </div>

        </div>
    </div>
</section>
<!-- ./testimonials -->

<script>
    $(document).ready(function() {
        $("#testimonial-list").owlCarousel({
            items : 1,
            lazyLoad : true,
            navigation : false,
            <!--added to start the slide show on page load.. PLW-->
            autoPlay: true
        })
    });
</script>

<!-- about -->
<section id="about" class="section">
    <div class="container">

        <div class="section-header">
            <h1>about us</h1>
            <div class="divider-dark"></div>
            <p>We are a small company based in a small New England town.
               We started To Do Giant because we couldn't find the right site to manage our To Do lists.
               It felt a little like the story of Goldilocks and the Three Bears.
               We found some online to do sites that were so complicated it felt like you needed and engineering degree to get them to work.
               We found other online to do sites that were so simple that they wouldn't allow you to complete even the easiest task.
               We created To Do Giant to be "just right".
               Hopefully you agree!</p>
        </div>

    </div>
</section>
<!-- ./about -->


<!-- pricing -->
<section id="pricing" class="section dark-bg">
    <div class="container">

        <div class="section-header">
            <h1>pricing</h1>
            <div class="divider-light"></div>
            <p>There is free version and a pro version. The pro version is $10 a year, which allows us to cover some of the hosting charges.
               Imagine all this for a whole year for the price of a cup of Starbucks.
                Unlock our best features for pennies a day!  Sign-up now and get a free trial of our Pro package.</p>
        </div>

        <div class="row">

            <div class="col-md-6 col-sm-6">
                <div class="price-box wow fadeInUp showdelay2">
                    <div class="price-header">
                        <span class="price-title">Free</span>
                        <span class="price-amount">$0</span>
                        <span class="price-month">/ Year</span>
                    </div>
                    <div class="price-content">
                        <ul>
                            <li>1 group</li>
                            <li>15 Active To Dos</li>
                        </ul>
                    </div>
                    <div class="price-footer">
                        <div class="row">
                            <div class="col-xs-4 col-xs-offset-4">
                                <a class="btn btn-lg  btn-block btn-success"  a href="#register">Sign Up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="col-md-4 col-sm-4">-->
                <!--<div class="price-box active  wow fadeInUp showdelay2">-->
                    <!--<div class="price-header">-->
                        <!--<span class="price-title">basic</span>-->
                        <!--<span class="price-amount">$ 10</span>-->
                        <!--<span class="price-month">/ Year</span>-->
                    <!--</div>-->
                    <!--<div class="price-content">-->
                        <!--<ul>-->
                            <!--<li>3 Groups</li>-->
                            <!--<li>50 Active To Dos in each group</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="price-footer">-->
                        <!--<a href="#register" class="btn-theme">sign up</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <div class="col-md-6 col-sm-6">
                <div class="price-box   active  wow fadeInUp showdelay2">
                    <div class="price-header">
                        <span class="price-title">Pro</span>
                        <span class="price-amount">$10</span>
                        <span class="price-month">/ Year</span>
                    </div>
                    <div class="price-content">
                        <ul>
                            <li>5 Groups</li>
                            <li>75 Active To Dos in each group</li>
                        </ul>
                    </div>
                    <div class="price-footer">
                        <div class="row">
                            <div class="col-xs-4 col-xs-offset-4">
                                <a class="btn btn-lg  btn-block btn-success"  a href="#register">Sign Up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</section>
<!-- ./pricing -->
