<div class="container">
    <div class="row">
        <div class="col-md-6">
           <h3>Welcome to Todo Giant!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>How will this help me?</h4>
            A todo list is one of the simplest steps you can take to becoming more organized and productive.  It focuses you on the key tasks that you need to accomplish and keeps track of when they're due.
            <h4>Responsive Design!</h4>
            This means you can access your Todo list via any device or computer. iPhone, iPad, Droid Phones, Tablets, Computers, Laptops, you name it and you can access your list. So, whether you're in a meeting, sitting on the bus, working outside, it's always possible to add a todo or get the next one on the list.
            <h4>Key features:</h4>
            <ul>
                <li>Quick Add - Enter the Todo, hit enter.. you're done!</li>
                <li>Define Priorities so you only focus on the important stuff</li>
                <li>Add Categories keep track of the ones you delegated, or to link related items</li>
                <li>Easy Filter allows you to quickly pinpoint matching item(s), or filter by Category</li>
                <li>Specify a Frequency to allow items to repeat (ie - weekly todo)</li>
                <li>Groups allow you to keep Work & Home lists separate. Have as few or as many groups as you like!</li>
            </ul>
            <h4>Great, how do I get started?</h4>
            Just click the "Register" link in the upper right hand corner.
            <h4>How much will this cost?</h4>
            There is a free version and a premium version for $10 a year which allows us to cover some of the hosting charges. Imagine all this for a <u>whole year</u> for the price of a cup of Starbucks
        </div>

        <div class="col-md-6">
            <img src="images/todo_screenshot1.png" class="img-thumbnail">
            <img src="images/todo_mobile1.png" class="img-thumbnail">
        </div>
    </div>
</div>


