<section    id="register">

    <br>

    <div class="container-fluid">

        <div class="col-lg-6 col-lg-offset-3  col-md-6 col-md-offset-3 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Sign Up</h3></div>
                <div class="panel-body">
                    <h3 class="text-center">One Step Away from Becoming Organized! :-)</h3>

                        <form data-ng-submit="registerMe(user)" form-autofill-fix>

                            <div class="col-md-10 col-md-offset-1">
                                <div id="firstName" class="col-md-6 col-xs-6 col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input type="text" class="form-control" data-ng-model="user.firstName" value="" required placeholder="Enter First Name">
                                    </div>
                                </div>
                                <div id="lastName" class="col-md-6 col-xs-6 col-sm-6">
                                    <input type="text" class="form-control" data-ng-model="user.lastName" value="" required placeholder="Enter Last Name">
                                </div>
                            </div>

                            <br>
                            <br>

                            <div class="col-md-offset-1 col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input type="email" class="form-control" name="email" data-ng-model="user.email" required placeholder="Enter Email">
                                    <span class="error" data-ng-show="loginForm.email.$error.required">Required</span>
                                    <span class="error" data-ng-show="loginForm.email.$error.email">Not valid email</span>
                                </div>
                            </div>
                            <br>
                            <br>

                            <div class="col-md-offset-1 col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input type="password" class="form-control" name="password" data-ng-model="user.password" required placeholder="Enter Password" data-ng-minlength="3">
                                    <span class="error" data-ng-show="loginForm.password.$error.required">Required</span>
                                    <span class="error" data-ng-show="loginForm.password.$error.minlength">Must be 3 characters</span>
                                </div>
                            </div>
                            <br>
                            <br>

                            <div class="col-md-offset-1 col-md-10 col-md-offset-1">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input type="password" class="form-control" name="password" data-ng-model="user.repassword" required placeholder="Re-enter Password" data-ng-minlength="3">
                                    </div>
                            <br>

                            <p><button type="submit" class="btn btn-success">Register</button>
                            </div>
                        </form>
                        <span>{{errormsg}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>