<form>
    <p><input type="email" class="span3" name="email" data-ng-model="user.email" required placeholder="Enter Email">
        <span class="error" data-ng-show="loginForm.email.$error.required">Required</span>
        <span class="error" data-ng-show="loginForm.email.$error.email">Not valid email</span>
    </p>

    <p><input type="password" class="span3" name="password" data-ng-model="user.password" required placeholder="Enter Password" data-ng-minlength="3">
        <span class="error" data-ng-show="loginForm.password.$error.required">Required</span>
        <span class="error" data-ng-show="loginForm.password.$error.minlength">Must be 3 characters</span>
    </p>
    <p><input type="password" class="span3" name="password" data-ng-model="user.repassword" required placeholder="Re-enter Password" data-ng-minlength="3">
    </p>
    <p><button type="submit" class="btn btn-success" data-ng-click="registerMe(user)">Register</button>
</form>
<span>{{errormsg}}</span>
