<div class="row">
    <div class="col-md-6">
        <h4>Password Change</h4>
        <form role="form">
            <input type="text" class="form-control input-sm" data-ng-model="pwd.old" placeholder="enter current password">
            <input type="text" class="form-control input-sm" data-ng-model="pwd.new1" placeholder="enter new password">
            <input type="text" class="form-control input-sm" data-ng-model="pwd.new2" placeholder="re-enter new password">
            <button type="submit" class="btn btn-success" data-ng-click="changePassword(pwd)">Change Password</button>
        </form>
    </div>
    <div id="myDiv" ng-controller="AcctdetailCtrl" class="col-md-6">
        <h4>Account Details</h4>
        <div class="col-md-3">Membership Type:</div>
        <div class="col-md-9">Free</div>
        <div class="col-md-3">Paid Through:</div>
        <div class="col-md-9">September 13, 2014</div>

        <button id="customButton" class="btn btn-success">Purchase 12 Months of Premium</button>

        <script>
            var handler = StripeCheckout.configure({
                key: 'pk_test_fDHNv3NjM0BYMTFjxF2sPWS4',
                image: '/todo/app/images/giant1.png',
                token: function(token) {
                    // Use the token to create the charge with a server-side script.
                    // You can access the token ID with `token.id`

                    //var microappscope = angular.element($("#myDiv")).scope();
                    //microappscope.stripepurchase(token);
                    // must specify DOM element that hold controller in order to access scope and method/function
                    angular.element($("#myDiv")).scope().processPayment(token);
                }
            });

            document.getElementById('customButton').addEventListener('click', function(e) {
                // Open Checkout with further options
                handler.open({
                    name: 'TodoGiant',
                    description: '12 Months: Premium Membership',
                    amount: 1000
                });
                e.preventDefault();
            });
        </script>







    </div>
</div>

</br></br>
<div class="row">
    <div class="col-md-6">
        <h4>Add a Todo Group</h4>
        <form role="form">
            <input type="text" class="form-control" data-ng-model="newGroup.name" placeholder="enter group name here">
            <button class="btn btn-primary" data-ng-click="addGroup(newGroup)">Add Group</button>
        </form>
    </div>
    <div class="col-md-6">
        <h4>Delete Todo Group </h4>
        <form role="form">
            <select class="form-control" data-ng-model="group.group_id" data-ng-options="group.group_id as group.group_name for group in groups">
            </select>
            <button  class="btn btn-danger" data-ng-click="deleteGroup(group)">Delete Group</button>
        </form>
        NOTE: all the Todos (active or complete) associated with this group will be deleted! </br>
        Use the Move Todos Between Group function before deleting any groups!
    </div>
</div>


</br></br>
<div class="row">
    <div class="col-md-6">
        <h4>Move ToDos Between Groups</h4>
        <form role="form">
            <div class="col-md-5">Move ToDos from this group:</div>
            <div class="col-md-7">
                <select class="form-control" data-ng-model="moveGroup.fromGroup" data-ng-options="group.group_id as group.group_name for group in groups">
                </select>
            </div>
            <div class="col-md-5">To this group:</div>
            <div class="col-md-7">
                <select class="form-control" data-ng-model="moveGroup.toGroup" data-ng-options="group.group_id as group.group_name for group in groups">
                </select>
            </div>
            <button type="submit" class="btn btn-primary" data-ng-click="moveTodos(moveGroup)">Move the Todos</button>
        </form>
    </div>
    <div class="col-md-6">
        <h4>Update Todo Group Names</h4>
        <div data-ng-repeat="group in groups">
            <input type="text" class="form-control input" data-ng-model="group.group_name" data-ng-enter="updateGroup(group)">
        </div>
        (hit enter after changing)
    </div>
</div>

</br></br>
<div class="row">
    <div class="col-md-6">
        <h4>Import Todos</h4>
            <a href="#import"> Click here to go to the import todo page</a>
        </div>
    </div>
    <div class="col-md-6">
        <h4> </h4>

    </div>
</div>

