<H1>Help People You Know Get Organized!</H1>

<p>Help your friends, colleagues, family to get organized and end the chaos, and help yourself at the same time!
    Below, we've made it easy to reach your friends via twitter, facebook, etc.
    For every 10 people that sign up we'll give you 3 months of premium membership.
    For every 5 people that sign up for a premium membership, we'll give you 12 month of a premium membership.
    And, the best part, is you'll be helping your friends get organized! Cheers
</p>

<div class="row">

    <div class="col-md-6">

        <H2>Twitter!</H2>
        <!-- Twitter Logic-->
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Getting organized with Todo Giant" data-url="https://todogiant.com" data-via="todogiant" data-lang="en" data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>

    <div class="col-md-6">

        <H2>Facebook!</H2>

        <div class="fb-like" data-href="https://todogiant.com" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>

    </div>

</div>