<section    id="login">

    <br>

    <div class="container-fluid">

        <div class="col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>WELCOME!!</h3></div>
                <div class="panel-body">
                    <div class="text-center">
                        We are so happy you've joined us!
                        An email has been sent to you.  There is a link in it that will activate the account.
                        Below is a screen shot of the main page with some tips on how to get started.
                        When you're ready just click the tab labeled  "My To Dos" at the top of this page and you'll be off and running!
                    </div>
                </div>
            </div>
        </div>
        <!--</div>-->

        <br>
        <div class="col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-xs-12">
            <div class="text-center">
                <img src="images/to_do_list_online_demo.png" class="img-responsive" alt="">
            </div>
        </div>


</section>

